USE [master]
GO
/****** Object:  Database [QLThueSach]    Script Date: 28/06/2024 9:19:35 AM ******/
CREATE DATABASE [QLThueSach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tên QLThueSach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\tên QLThueSach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tên QLThueSach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\tên QLThueSach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThueSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThueSach]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 28/06/2024 9:19:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SĐT] [nvarchar](12) NULL,
	[LoaiSachYeuThich] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 28/06/2024 9:19:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MaSach] [char](10) NOT NULL,
	[TenSach] [nvarchar](50) NULL,
	[TacGia] [nvarchar](50) NULL,
	[TenNhaXuatBan] [nvarchar](50) NULL,
	[GiaMua] [decimal](8, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUESACH]    Script Date: 28/06/2024 9:19:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUESACH](
	[MaKH] [int] NOT NULL,
	[MaSach] [char](10) NOT NULL,
	[NgayMuonSach] [datetime] NOT NULL,
	[NgayTraSach] [datetime] NULL,
	[SoTienThu] [decimal](8, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_THUESACH] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaSach] ASC,
	[NgayMuonSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SĐT], [LoaiSachYeuThich], [GhiChu]) VALUES (1, N'ronaldo', N'Q12', N'1234', N'C', N'siuu')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SĐT], [LoaiSachYeuThich], [GhiChu]) VALUES (2, N'messi', N'Q3', N'1235', N'B', N'culi')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SĐT], [LoaiSachYeuThich], [GhiChu]) VALUES (3, N'neymar', N'NB', N'12346', N'A', N'ta')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
INSERT [dbo].[SACH] ([MaSach], [TenSach], [TacGia], [TenNhaXuatBan], [GiaMua], [GhiChu]) VALUES (N'1         ', N'A', N'canh', N'canhdeptrai', CAST(10000.00 AS Decimal(8, 2)), N'ko co gi')
INSERT [dbo].[SACH] ([MaSach], [TenSach], [TacGia], [TenNhaXuatBan], [GiaMua], [GhiChu]) VALUES (N'2         ', N'B', N'canh', N'canhdeptrai', CAST(10001.00 AS Decimal(8, 2)), N'ko co chi')
INSERT [dbo].[SACH] ([MaSach], [TenSach], [TacGia], [TenNhaXuatBan], [GiaMua], [GhiChu]) VALUES (N'3         ', N'C', N'canh', N'canhdeptrai', CAST(20000.00 AS Decimal(8, 2)), N'ko co chi')
GO
INSERT [dbo].[THUESACH] ([MaKH], [MaSach], [NgayMuonSach], [NgayTraSach], [SoTienThu], [GhiChu]) VALUES (1, N'2         ', CAST(N'2024-06-28T00:00:00.000' AS DateTime), NULL, CAST(50000.00 AS Decimal(8, 2)), N'ngungoc')
INSERT [dbo].[THUESACH] ([MaKH], [MaSach], [NgayMuonSach], [NgayTraSach], [SoTienThu], [GhiChu]) VALUES (2, N'3         ', CAST(N'2025-02-03T00:00:00.000' AS DateTime), NULL, CAST(1000.00 AS Decimal(8, 2)), N'yay')
INSERT [dbo].[THUESACH] ([MaKH], [MaSach], [NgayMuonSach], [NgayTraSach], [SoTienThu], [GhiChu]) VALUES (3, N'1         ', CAST(N'2024-06-27T00:00:00.000' AS DateTime), CAST(N'2025-04-30T00:00:00.000' AS DateTime), CAST(51000.00 AS Decimal(8, 2)), N'bum')
GO
ALTER TABLE [dbo].[THUESACH]  WITH CHECK ADD  CONSTRAINT [FK_THUESACH_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[THUESACH] CHECK CONSTRAINT [FK_THUESACH_KHACHHANG]
GO
ALTER TABLE [dbo].[THUESACH]  WITH CHECK ADD  CONSTRAINT [FK_THUESACH_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[THUESACH] CHECK CONSTRAINT [FK_THUESACH_SACH]
GO
USE [master]
GO
