USE [master]
GO
/****** Object:  Database [QLThueBang]    Script Date: 28/06/2024 9:22:45 AM ******/
CREATE DATABASE [QLThueBang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThueBang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLThueBang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLThueBang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLThueBang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThueBang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThueBang]
GO
/****** Object:  Table [dbo].[BĂNG]    Script Date: 28/06/2024 9:22:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BĂNG](
	[MaBang] [char](10) NOT NULL,
	[TenBang] [nvarchar](50) NULL,
	[TheLoai] [nvarchar](20) NULL,
	[tenNuocSX] [nvarchar](20) NULL,
	[giaMua] [decimal](8, 2) NULL,
	[ghiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_BĂNG] PRIMARY KEY CLUSTERED 
(
	[MaBang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHÁCH HÀNG]    Script Date: 28/06/2024 9:22:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHÁCH HÀNG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[tenKH] [nvarchar](50) NULL,
	[diaChi] [nvarchar](100) NULL,
	[SĐT] [nvarchar](12) NULL,
	[TheLoaiYeuThich] [nvarchar](20) NULL,
	[ghiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_KHÁCH HÀNG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUÊ BĂNG]    Script Date: 28/06/2024 9:22:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUÊ BĂNG](
	[MaKH] [int] NOT NULL,
	[MaBang] [char](10) NOT NULL,
	[NgayThue] [datetime] NOT NULL,
	[NgayTra] [datetime] NULL,
	[soTienThu] [decimal](8, 2) NULL,
	[ghiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_THUÊ BĂNG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaBang] ASC,
	[NgayThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[BĂNG] ([MaBang], [TenBang], [TheLoai], [tenNuocSX], [giaMua], [ghiChu]) VALUES (N'ABC       ', N'Tom', N'Cartoon', N'USA', CAST(50000.00 AS Decimal(8, 2)), N'hay')
INSERT [dbo].[BĂNG] ([MaBang], [TenBang], [TheLoai], [tenNuocSX], [giaMua], [ghiChu]) VALUES (N'ABD       ', N'Jerry', N'Cartoon', N'USA', CAST(510000.00 AS Decimal(8, 2)), N'muot')
INSERT [dbo].[BĂNG] ([MaBang], [TenBang], [TheLoai], [tenNuocSX], [giaMua], [ghiChu]) VALUES (N'ABE       ', N'CatAndMouse', N'Cartoon', N'Japan', CAST(520000.00 AS Decimal(8, 2)), N'ngay tuyet doi')
GO
SET IDENTITY_INSERT [dbo].[KHÁCH HÀNG] ON 

INSERT [dbo].[KHÁCH HÀNG] ([MaKH], [tenKH], [diaChi], [SĐT], [TheLoaiYeuThich], [ghiChu]) VALUES (1, N'Canh', N'Q12', N'123', N'Cartoon', N'fan mu')
INSERT [dbo].[KHÁCH HÀNG] ([MaKH], [tenKH], [diaChi], [SĐT], [TheLoaiYeuThich], [ghiChu]) VALUES (2, N'Ronaldo', N'Portugal', N'1234555', N'Action', N'ri do')
INSERT [dbo].[KHÁCH HÀNG] ([MaKH], [tenKH], [diaChi], [SĐT], [TheLoaiYeuThich], [ghiChu]) VALUES (3, N'Messex', N'Argentina', N'1324354', N'Romance', N'cu li')
SET IDENTITY_INSERT [dbo].[KHÁCH HÀNG] OFF
GO
INSERT [dbo].[THUÊ BĂNG] ([MaKH], [MaBang], [NgayThue], [NgayTra], [soTienThu], [ghiChu]) VALUES (1, N'ABD       ', CAST(N'2024-01-03T15:00:00.000' AS DateTime), CAST(N'2024-01-03T17:00:00.000' AS DateTime), CAST(220000.00 AS Decimal(8, 2)), N'qua tuyet voi')
INSERT [dbo].[THUÊ BĂNG] ([MaKH], [MaBang], [NgayThue], [NgayTra], [soTienThu], [ghiChu]) VALUES (2, N'ABD       ', CAST(N'2024-01-03T16:00:00.000' AS DateTime), NULL, CAST(24058.00 AS Decimal(8, 2)), N'qua hay')
INSERT [dbo].[THUÊ BĂNG] ([MaKH], [MaBang], [NgayThue], [NgayTra], [soTienThu], [ghiChu]) VALUES (3, N'ABC       ', CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2024-01-02T18:00:00.000' AS DateTime), CAST(50000.00 AS Decimal(8, 2)), NULL)
GO
ALTER TABLE [dbo].[THUÊ BĂNG]  WITH CHECK ADD  CONSTRAINT [FK_THUÊ BĂNG_BĂNG] FOREIGN KEY([MaBang])
REFERENCES [dbo].[BĂNG] ([MaBang])
GO
ALTER TABLE [dbo].[THUÊ BĂNG] CHECK CONSTRAINT [FK_THUÊ BĂNG_BĂNG]
GO
ALTER TABLE [dbo].[THUÊ BĂNG]  WITH CHECK ADD  CONSTRAINT [FK_THUÊ BĂNG_KHÁCH HÀNG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHÁCH HÀNG] ([MaKH])
GO
ALTER TABLE [dbo].[THUÊ BĂNG] CHECK CONSTRAINT [FK_THUÊ BĂNG_KHÁCH HÀNG]
GO
USE [master]
GO
