USE [master]
GO
/****** Object:  Database [QLThuePhong]    Script Date: 28/06/2024 9:21:02 AM ******/
CREATE DATABASE [QLThuePhong]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThuePhong', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLThuePhong.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLThuePhong_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLThuePhong_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThuePhong].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThuePhong]
GO
/****** Object:  Table [dbo].[KHÁCH HÀNG]    Script Date: 28/06/2024 9:21:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHÁCH HÀNG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[diaChi] [nvarchar](100) NULL,
	[SĐT] [nvarchar](12) NULL,
	[ghiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_KHÁCH HÀNG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHÒNG]    Script Date: 28/06/2024 9:21:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHÒNG](
	[MaPhong] [char](10) NOT NULL,
	[soGiuong] [int] NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[giaTien] [decimal](8, 2) NULL,
	[ghiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_PHÒNG] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUÊ PHÒNG]    Script Date: 28/06/2024 9:21:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUÊ PHÒNG](
	[MaKH] [int] NOT NULL,
	[MaPhong] [char](10) NOT NULL,
	[NgayLay] [datetime] NOT NULL,
	[NgayTra] [datetime] NULL,
	[TienTra] [decimal](8, 2) NULL,
	[ghiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_THUÊ PHÒNG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaPhong] ASC,
	[NgayLay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KHÁCH HÀNG] ON 

INSERT [dbo].[KHÁCH HÀNG] ([MaKH], [TenKH], [diaChi], [SĐT], [ghiChu]) VALUES (1, N'canh', N'Q12', N'1234', N'none')
INSERT [dbo].[KHÁCH HÀNG] ([MaKH], [TenKH], [diaChi], [SĐT], [ghiChu]) VALUES (2, N'ronalo', N'Portugal', N'434', N'none')
INSERT [dbo].[KHÁCH HÀNG] ([MaKH], [TenKH], [diaChi], [SĐT], [ghiChu]) VALUES (3, N'messi', N'prison', N'3453252', N'none')
SET IDENTITY_INSERT [dbo].[KHÁCH HÀNG] OFF
GO
INSERT [dbo].[PHÒNG] ([MaPhong], [soGiuong], [TenNhanVien], [giaTien], [ghiChu]) VALUES (N'1         ', 10, N'huy', CAST(50000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[PHÒNG] ([MaPhong], [soGiuong], [TenNhanVien], [giaTien], [ghiChu]) VALUES (N'2         ', 100, N'bao', CAST(51000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[PHÒNG] ([MaPhong], [soGiuong], [TenNhanVien], [giaTien], [ghiChu]) VALUES (N'3         ', 1000, N'neymar', CAST(123444.00 AS Decimal(8, 2)), NULL)
GO
INSERT [dbo].[THUÊ PHÒNG] ([MaKH], [MaPhong], [NgayLay], [NgayTra], [TienTra], [ghiChu]) VALUES (1, N'3         ', CAST(N'2024-11-20T00:00:00.000' AS DateTime), CAST(N'2024-11-20T23:00:00.000' AS DateTime), CAST(500000.00 AS Decimal(8, 2)), N'none')
INSERT [dbo].[THUÊ PHÒNG] ([MaKH], [MaPhong], [NgayLay], [NgayTra], [TienTra], [ghiChu]) VALUES (2, N'2         ', CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2024-01-02T00:00:00.000' AS DateTime), CAST(999999.00 AS Decimal(8, 2)), N'qua te')
INSERT [dbo].[THUÊ PHÒNG] ([MaKH], [MaPhong], [NgayLay], [NgayTra], [TienTra], [ghiChu]) VALUES (3, N'1         ', CAST(N'2024-01-02T00:00:00.000' AS DateTime), CAST(N'2024-10-09T00:00:00.000' AS DateTime), CAST(900000.00 AS Decimal(8, 2)), N'ngậy tuyệt đối')
GO
ALTER TABLE [dbo].[THUÊ PHÒNG]  WITH CHECK ADD  CONSTRAINT [FK_THUÊ PHÒNG_KHÁCH HÀNG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHÁCH HÀNG] ([MaKH])
GO
ALTER TABLE [dbo].[THUÊ PHÒNG] CHECK CONSTRAINT [FK_THUÊ PHÒNG_KHÁCH HÀNG]
GO
ALTER TABLE [dbo].[THUÊ PHÒNG]  WITH CHECK ADD  CONSTRAINT [FK_THUÊ PHÒNG_PHÒNG] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHÒNG] ([MaPhong])
GO
ALTER TABLE [dbo].[THUÊ PHÒNG] CHECK CONSTRAINT [FK_THUÊ PHÒNG_PHÒNG]
GO
USE [master]
GO
