USE [master]
GO
/****** Object:  Database [QUANLYCLBOU]    Script Date: 9/11/2024 10:07:31 AM ******/
CREATE DATABASE [QUANLYCLBOU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYCLBOU', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUANLYCLBOU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYCLBOU_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUANLYCLBOU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYCLBOU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYCLBOU]
GO
/****** Object:  Table [dbo].[CHUNHIEMCLB]    Script Date: 9/11/2024 10:07:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUNHIEMCLB](
	[MACLB] [char](6) NOT NULL,
	[MACHUNHIEM] [char](10) NOT NULL,
	[NGAYBĐCN] [date] NOT NULL,
	[NGATKTCN] [date] NULL,
 CONSTRAINT [PK_CHUNHIEMCLB] PRIMARY KEY CLUSTERED 
(
	[MACLB] ASC,
	[MACHUNHIEM] ASC,
	[NGAYBĐCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLB]    Script Date: 9/11/2024 10:07:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLB](
	[MACLB] [char](6) NOT NULL,
	[TENCLB] [nvarchar](30) NULL,
 CONSTRAINT [PK_CLB] PRIMARY KEY CLUSTERED 
(
	[MACLB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUOCTHI]    Script Date: 9/11/2024 10:07:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUOCTHI](
	[MACT] [char](6) NOT NULL,
	[TENCT] [nvarchar](30) NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[TGBĐ] [datetime] NULL,
	[TGKT] [datetime] NULL,
	[MAQUANLY] [char](10) NULL,
	[MACLB] [char](6) NULL,
 CONSTRAINT [PK_CUOCTHI] PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIADIEM_CLB]    Script Date: 9/11/2024 10:07:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIADIEM_CLB](
	[MACLB] [char](6) NOT NULL,
	[DIADIEM] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DIADIEM_CLB] PRIMARY KEY CLUSTERED 
(
	[MACLB] ASC,
	[DIADIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOIVIEN]    Script Date: 9/11/2024 10:07:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOIVIEN](
	[MASV] [char](10) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[NTNS] [date] NULL,
	[SDT] [char](11) NULL,
	[EMAIL] [varchar](50) NULL,
 CONSTRAINT [PK_HOIVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOIVIEN_CUOCTHI]    Script Date: 9/11/2024 10:07:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOIVIEN_CUOCTHI](
	[MACT] [char](6) NOT NULL,
	[MASV] [char](10) NOT NULL,
 CONSTRAINT [PK_HOIVIEN_CUOCTHI] PRIMARY KEY CLUSTERED 
(
	[MACT] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOIVIEN_THAMGIA_CLB]    Script Date: 9/11/2024 10:07:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOIVIEN_THAMGIA_CLB](
	[MACLB] [char](6) NOT NULL,
	[MASV] [char](10) NOT NULL,
	[NGAYTHAMGIA] [date] NULL,
 CONSTRAINT [PK_HOIVIEN_THAMGIA_CLB] PRIMARY KEY CLUSTERED 
(
	[MACLB] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHUNHIEMCLB]  WITH CHECK ADD  CONSTRAINT [FK_CHUNHIEMCLB_CLB] FOREIGN KEY([MACLB])
REFERENCES [dbo].[CLB] ([MACLB])
GO
ALTER TABLE [dbo].[CHUNHIEMCLB] CHECK CONSTRAINT [FK_CHUNHIEMCLB_CLB]
GO
ALTER TABLE [dbo].[CHUNHIEMCLB]  WITH CHECK ADD  CONSTRAINT [FK_CHUNHIEMCLB_HOIVIEN] FOREIGN KEY([MACHUNHIEM])
REFERENCES [dbo].[HOIVIEN] ([MASV])
GO
ALTER TABLE [dbo].[CHUNHIEMCLB] CHECK CONSTRAINT [FK_CHUNHIEMCLB_HOIVIEN]
GO
ALTER TABLE [dbo].[CUOCTHI]  WITH CHECK ADD  CONSTRAINT [FK_CUOCTHI_CLB] FOREIGN KEY([MACLB])
REFERENCES [dbo].[CLB] ([MACLB])
GO
ALTER TABLE [dbo].[CUOCTHI] CHECK CONSTRAINT [FK_CUOCTHI_CLB]
GO
ALTER TABLE [dbo].[DIADIEM_CLB]  WITH CHECK ADD  CONSTRAINT [FK_DIADIEM_CLB_CLB] FOREIGN KEY([MACLB])
REFERENCES [dbo].[CLB] ([MACLB])
GO
ALTER TABLE [dbo].[DIADIEM_CLB] CHECK CONSTRAINT [FK_DIADIEM_CLB_CLB]
GO
ALTER TABLE [dbo].[HOIVIEN_CUOCTHI]  WITH CHECK ADD  CONSTRAINT [FK_HOIVIEN_CUOCTHI_CUOCTHI] FOREIGN KEY([MACT])
REFERENCES [dbo].[CUOCTHI] ([MACT])
GO
ALTER TABLE [dbo].[HOIVIEN_CUOCTHI] CHECK CONSTRAINT [FK_HOIVIEN_CUOCTHI_CUOCTHI]
GO
ALTER TABLE [dbo].[HOIVIEN_CUOCTHI]  WITH CHECK ADD  CONSTRAINT [FK_HOIVIEN_CUOCTHI_HOIVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[HOIVIEN] ([MASV])
GO
ALTER TABLE [dbo].[HOIVIEN_CUOCTHI] CHECK CONSTRAINT [FK_HOIVIEN_CUOCTHI_HOIVIEN]
GO
ALTER TABLE [dbo].[HOIVIEN_THAMGIA_CLB]  WITH CHECK ADD  CONSTRAINT [FK_HOIVIEN_THAMGIA_CLB_CLB] FOREIGN KEY([MACLB])
REFERENCES [dbo].[CLB] ([MACLB])
GO
ALTER TABLE [dbo].[HOIVIEN_THAMGIA_CLB] CHECK CONSTRAINT [FK_HOIVIEN_THAMGIA_CLB_CLB]
GO
ALTER TABLE [dbo].[HOIVIEN_THAMGIA_CLB]  WITH CHECK ADD  CONSTRAINT [FK_HOIVIEN_THAMGIA_CLB_HOIVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[HOIVIEN] ([MASV])
GO
ALTER TABLE [dbo].[HOIVIEN_THAMGIA_CLB] CHECK CONSTRAINT [FK_HOIVIEN_THAMGIA_CLB_HOIVIEN]
GO
USE [master]
GO
