USE [master]
GO
/****** Object:  Database [QuanLyMuonTraSach]    Script Date: 9/11/2024 10:06:53 AM ******/
CREATE DATABASE [QuanLyMuonTraSach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyMuonTraSach', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyMuonTraSach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyMuonTraSach_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyMuonTraSach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyMuonTraSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyMuonTraSach]
GO
/****** Object:  Table [dbo].[DOC_GIA]    Script Date: 9/11/2024 10:06:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOC_GIA](
	[MADG] [char](10) NOT NULL,
	[HO] [nvarchar](30) NULL,
	[TEN] [nvarchar](20) NULL,
	[GIOITINH] [bit] NULL,
	[NTNS] [date] NULL,
	[DIACHI] [nvarchar](max) NULL,
	[DIENTHOAI] [char](11) NULL,
 CONSTRAINT [PK_DOC_GIA] PRIMARY KEY CLUSTERED 
(
	[MADG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_SACH]    Script Date: 9/11/2024 10:06:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_SACH](
	[MALOAISACH] [char](10) NOT NULL,
	[TENLOAISACH] [nvarchar](50) NULL,
	[LINHVUC] [nvarchar](30) NULL,
 CONSTRAINT [PK_LOAI_SACH_1] PRIMARY KEY CLUSTERED 
(
	[MALOAISACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUON_SACH]    Script Date: 9/11/2024 10:06:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUON_SACH](
	[MASACH] [char](10) NOT NULL,
	[MADG] [char](10) NOT NULL,
	[NGAYMUON] [datetime] NOT NULL,
	[NGAYTRA] [datetime] NULL,
	[TINHTRANGMUON] [nvarchar](max) NULL,
	[TINHTRANGTRA] [nvarchar](max) NULL,
 CONSTRAINT [PK_MUON_SACH] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC,
	[MADG] ASC,
	[NGAYMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_XUAT_BAN]    Script Date: 9/11/2024 10:06:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_XUAT_BAN](
	[MANXB] [char](10) NOT NULL,
	[TENNXB] [nvarchar](30) NULL,
 CONSTRAINT [PK_NHA_XUAT_BAN] PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 9/11/2024 10:06:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [char](10) NOT NULL,
	[TENSACH] [nvarchar](50) NOT NULL,
	[NHAXUATBAN] [char](10) NULL,
	[NAMXUATBAN] [date] NULL,
	[MALOAISACH] [char](10) NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MUON_SACH]  WITH CHECK ADD  CONSTRAINT [FK_MUON_SACH_DOC_GIA] FOREIGN KEY([MADG])
REFERENCES [dbo].[DOC_GIA] ([MADG])
GO
ALTER TABLE [dbo].[MUON_SACH] CHECK CONSTRAINT [FK_MUON_SACH_DOC_GIA]
GO
ALTER TABLE [dbo].[MUON_SACH]  WITH CHECK ADD  CONSTRAINT [FK_MUON_SACH_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[MUON_SACH] CHECK CONSTRAINT [FK_MUON_SACH_SACH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_LOAI_SACH] FOREIGN KEY([MALOAISACH])
REFERENCES [dbo].[LOAI_SACH] ([MALOAISACH])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_LOAI_SACH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NHA_XUAT_BAN] FOREIGN KEY([NHAXUATBAN])
REFERENCES [dbo].[NHA_XUAT_BAN] ([MANXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NHA_XUAT_BAN]
GO
USE [master]
GO
